body{
  background-color: #fff;height: 100%;
}

.App {
  height: 100vh;
  text-align: center;
}

.main{
  grid-area: main;
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header{
  grid-area: header;
  background-color: #a9a3b1;
}

.appBody{
  grid-area: main;
  background-color: #d9cae9;
}

.footer{
  grid-area: footer;
  background-color: #a9a3b1;
}
